body {
  color: white;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  font-family: 'Courier New', '나눔고딕', 'NanumGothic';
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  cursor: pointer;
}

.card-img {
  width: 33.33%;
}

.card-inside {
  display: flex;
  align-items: center;
}

.add-main {
  margin: auto;
  margin-top: 2%;
  width: 50%;
  border-radius: 4px solid white;
  padding: 10px;
}

input,
textarea,
select {
  background-color: rgb(46, 49, 55);
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
}

input[type='submit'] {
  width: 15%;
  background-color: darkgray;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: lightgray;
}

input#actors:focus {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

.view-image {
  max-width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 900px) {
  input[type='file'],
  textarea {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .add-main {
    width: 80%;
  }
}

.view-main {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}

.view-image {
  flex: 1;
  text-align: center;
}

.view-image img {
  max-width: 70%;
}

.view-content {
  flex: 1;
  padding-left: 5%;
  padding-top: 8%;
}

.btns {
  text-align: right;
  margin-right: 10%;
}

@media (max-width: 768px) {
  .view-main {
    flex-direction: column;
  }
}

.btn-add {
  margin-left: 85%;
}
